body{
    background-color: rgb(136, 170, 184);
    /* mask-image: url(image/unsplash.jpg); */
    
  }
  
  .main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding:90px 0 90px 0 ;
    opacity: 0.5px;
  
  }
 
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  